.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.escudo
{
    width: 20px;
    height: 20px;
}

.Rebaixamento
{
    align-items: start;
    display: flex;
    width: 3px;
    height: 22px;
    background-color: red;
}

.Grupo{
    align-items: start;
    display: flex;
    width: 3px;
    height: 22px;
    background-color: #4285F4;
}

.Qualificacao
{
    align-items: start;
    display: flex;
    width: 3px;
    height: 22px;
    background-color: rgb(250, 123, 23);
    
}

.azul
{
    align-items: start;
    display: flex;
    width: 7px;
    height: 7px;
    background-color: #4285F4;
}

.laranja
{
    align-items: start;
    display: flex;
    width: 7px;
    height: 7px;
    background-color:rgb(250, 123, 23);
}

.Vermelho
{
    align-items: start;
    display: flex;
    width: 7px;
    height: 7px;
    background-color:red;
}